body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  place-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: white;
}

.button {
  padding: 10px 20px;
  font-size: 24px;
  background-color: #09a45b;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
}
