/* Your Wordle-specific styles can go here */
.wordle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wordle-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  overflow-x: auto;
}
.wordle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  align-self: auto;
}
.word-row {
  display: flex;
  justify-content: center;
}
.word-box {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.correct {
  background-color: green !important;
  color: white;
}
.exists {
  background-color: yellow;
  color: black;
}

.incorrect {
  background-color: black;
  color: white;
}

.uneditable {
  background-color: black;
  color: white;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}
